<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExperimentDataReplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExperimentDataReplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <applicationSettings>
    <ExperimentDataReplayer.Properties.Settings>
      <setting name="AvgHeight" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="SkeletonBufferSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PlayerBufferSize" serializeAs="String">
        <value>10</value>
      </setting>
    </ExperimentDataReplayer.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ExperimentDataReplayer.Properties.Settings>
      <setting name="DecimalPrecision" serializeAs="String">
        <value>5</value>
      </setting>
    </ExperimentDataReplayer.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <appender name="RecaptureRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\{USERNAME}\Desktop\Logs\recapture-log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Participant;Condition;Trial;DateTime;Anchoring;TypingMethod;SelectionMethod;ArmStretch;Dexterity;PlaneSize;TotalTime;ErrorRateLanding;ErrorRateSelecting;CoM.L;CoM.Theta;Elbow.Theta;Wrist.Theta;HumanTorqueSum;AvgHumanTorque;MaxAvgHumanTorquePercent;AvgTbEndurance;TbEnduranceLostPercent;TbEnduranceLostRate;AvgCoMHumanForce;CoMHumanForceSum;MaxAvgCoMHumanForcePercent;AvgFbEndurance;FbEnduranceLostPercent;FbEnduranceLostRate;MeasuredTorqueSum;GravityTorqueSum;InertialTorqueSum;AvgMeasuredTorque;AvgGravityTorque;AvgInertialTorque;CoM.L;CoM.Theta;Elbow.Theta;Wrist.Theta;HumanTorqueSum;AvgHumanTorque;MaxAvgHumanTorquePercent;AvgTbEndurance;TbEnduranceLostPercent;TbEnduranceLostRate;AvgCoMHumanForce;CoMHumanForceSum;MaxAvgCoMHumanForcePercent;AvgFbEndurance;FbEnduranceLostPercent;FbEnduranceLostRate;MeasuredTorqueSum;GravityTorqueSum;InertialTorqueSum;AvgMeasuredTorque;AvgGravityTorque;AvgInertialTorque;Gender;Other"/>
        <conversionPattern value="%newline%message" />
      </layout>
    </appender>
    <appender name="AvgRecaptureRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\{USERNAME}\Desktop\Logs\avg-recapture-log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Participant;Condition;Trial;DateTime;Anchoring;TypingMethod;SelectionMethod;ArmStretch;Dexterity;PlaneSize;TotalTime;ErrorRateLanding;ErrorRateSelecting;CoM.L;CoM.Theta;Elbow.Theta;Wrist.Theta;HumanTorqueSum;AvgHumanTorque;MaxAvgHumanTorquePercent;AvgTbEndurance;TbEnduranceLostPercent;TbEnduranceLostRate;AvgCoMHumanForce;CoMHumanForceSum;MaxAvgCoMHumanForcePercent;AvgFbEndurance;FbEnduranceLostPercent;FbEnduranceLostRate;MeasuredTorqueSum;GravityTorqueSum;InertialTorqueSum;AvgMeasuredTorque;AvgGravityTorque;AvgInertialTorque;CoM.L;CoM.Theta;Elbow.Theta;Wrist.Theta;HumanTorqueSum;AvgHumanTorque;MaxAvgHumanTorquePercent;AvgTbEndurance;TbEnduranceLostPercent;TbEnduranceLostRate;AvgCoMHumanForce;CoMHumanForceSum;MaxAvgCoMHumanForcePercent;AvgFbEndurance;FbEnduranceLostPercent;FbEnduranceLostRate;MeasuredTorqueSum;GravityTorqueSum;InertialTorqueSum;AvgMeasuredTorque;AvgGravityTorque;AvgInertialTorque;Gender;Other"/>
        <conversionPattern value="%newline%message" />
      </layout>
    </appender>
    <logger name="RecaptureLogger">
      <level value="ALL" />
      <appender-ref ref="RecaptureRollingFileAppender" />
    </logger>
    <logger name="AvgRecaptureLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="AvgRecaptureRollingFileAppender" />
    </logger>
  </log4net>
</configuration>
